eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
server:
  port: 8769
spring:
  application:
    name: service-zuul
zuul:
#  host:
#    connect-timeout-millis: 60000
#    socket-timeout-millis: 60000
  routes:
    api-a:
      path: /api-a/**
      serviceId: service-ribbon
    api-b:
      path: /api-b/**
      serviceId: service-feign
#ribbon:
#  ReadTimeout: 60000
#  ConnectTimeout: 60000

#hystrix:
#    command:
#        default:
#            execution:
#                isolation:
#                    thread:
#                        timeout-in-milliseconds: 60000